@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71% 4%;

    --muted: 214 32% 91%;
    --muted-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 222 89% 63%;
    --primary-foreground: 210 20% 98%;

    --secondary: 213 27% 84%;
    --secondary-foreground: 222 47% 11%;

    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;

    --ring: 222 89% 63%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;

    --primary: 222 89% 63%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 47%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222 89% 63%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background font-sans text-base text-foreground antialiased;
  }
}
